body {
  background: #222;
  color: #fff;
  font-family: sans-serif;
  text-align: center;
  height: 100vh;
  margin: 0;
}

.flipbook-container {
  /* margin-top: 50px; */
  display: flex;
  justify-content: center; /* горизонтальный центр */
  align-items: center;     /* вертикальный центр */
  height: 100vh;           /* занимает весь экран по высоте */
  background: #222;        /* можно выбрать фон для контраста */
  /* scale: .8; */
  /* transform: scale(0.7); */
  overflow: hidden;
}

.page {
  background: white;
  color: black;
  overflow: hidden;
}

.page:nth-child(odd) {
  box-shadow: inset -5px 0 15px rgba(0,0,0,0.2); /* слева */
}

.page:nth-child(even) {
  box-shadow: inset 5px 0 15px rgba(0,0,0,0.2); /* справа */
}

.page-cover {
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #222;
}

.controls {
  margin-top: 20px;
}

.page-content {
  position: relative;
  z-index: 0;
}

.game {
  margin: 50px;
  height: 842px;
  width: 100%;
}